<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="diff_drive_bot" >

<!-- Body dimensions-->
<xacro:property name="length" value="0.6"/>
<xacro:property name="bred" value="0.4"/>
<xacro:property name="height" value="0.3"/>
<!-- Wheel dims -->
<xacro:property name="wheel_radius" value="0.05"/>
<xacro:property name="wheel_length" value="0.1"/>
<xacro:property name="wheel_z" value="-0.15"/>

<!--Material density-->
<xacro:property name="body_density" value="2710.0"/>
<xacro:property name="wheel_density" value="2710.0"/>

<!--Pi constant-->
<xacro:property name="pi_const" value="3.14159265"/>

<!--Robot body and wheel mass-->
<xacro:property name="body_mass" value="${body_density*length*bred*height}"/>
<xacro:property name="wheel_mass" value="${wheel_density*pi_const*wheel_radius*wheel_radius*wheel_length}"/>

<!-- Moment of inertia of the wheel -->
<xacro:property name="Iz_wheel" value="${0.5*wheel_mass*wheel_radius*wheel_length}"/>
<xacro:property name="I_wheel" value="${(1.0/12.0)*wheel_mass*(3.0*wheel_radius*wheel_radius + wheel_length*wheel_length)}"/>

<!-- macro defining inertial section of the wheel-->
<xacro:macro name = "inertial_wheel">
    <inertial>
    <origin rpy = '0 0 0' xyz= '0 0 0'/>
    <mass value = '${wheel_mass}'/>
    <inertia ixx = "${I_wheel}" ixy="0.0" ixz = "0.0" iyy = "${I_wheel}" iyz="0" izz="${Iz_wheel}"/>
    </inertial>
</xacro:macro>
<xacro:macro name="inertial_cylinder" params="mass length radius">
  <inertial>
    <mass value="${mass}"/>
    <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mass * (radius*radius)}" />
  </inertial>
</xacro:macro>

<!--control driver with gazebo-->
<xacro:include filename="$(find bot)/urdf/bot.gazebo"/>

<!-- footprint link -->
<!-- <link name="base_footprint"></link>
<joint name="body_link_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
</joint> -->

<!-- Body of the robot -->
<link name="base_link">
    <visual>
        <geometry>
          <box size="${length} ${bred} ${height}"/>
        </geometry>
        <material name="black">
            <color rgba="0 0 0 1"/>
        </material>
    </visual>
    <collision>
        <geometry>
            <box size="${length} ${bred} ${height}"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
    <inertial>
        <mass value = "${body_mass}"/>
        <inertia
            ixx = "${(1.0/12.0)*body_mass*(bred*bred + height*height)}" ixy = "0"
            ixz = "0" iyy = "${(1.0/12.0)*body_mass*(length*length + height*height)}"
            iyz ="0"
            izz = "${(1.0/12.0)*body_mass*(bred*bred + length*length)}"/>
    </inertial>
</link>

<!-- Joint Definition for right back wheel -->
  <joint name="right_wheel_joint_back" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel_back"/>
    <origin xyz="${-length/2+1.2*wheel_radius} ${-bred/2 - wheel_length/2} ${wheel_z}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="1000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>

  <!--  right back wheel -->
  <link name="right_wheel_back">
    <visual>
    <origin rpy = '1.570795 0 0' xyz = '0 0 0'/>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/> <!-- 100mm diameter wheel -->
      </geometry>
      <material name="grey">
      <color rgba = '0.5 0.5 0.5 1'/>
      </material> 
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin rpy = '1.570795 0 0' xyz = '0 0 0'/>
    </collision>
    <xacro:inertial_wheel/>
  </link>

<!-- Joint Definition for left back wheel -->
  <joint name="left_wheel_joint_back" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel_back"/>
    <origin xyz="${-length/2+1.2*wheel_radius} ${bred/2 + wheel_length/2} ${wheel_z}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="1000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>

  <!--  left back wheel -->
  <link name="left_wheel_back">
    <visual>
    <origin rpy = '1.570795 0 0' xyz = '0 0 0'/>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/> <!-- 100mm diameter wheel -->
      </geometry>
      <material name="grey">
      <color rgba = '0.5 0.5 0.5 1'/>
      </material> 
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin rpy = '1.570795 0 0' xyz = '0 0 0'/>
    </collision>
    <xacro:inertial_wheel/>
  </link>

<!-- Joint Definition for right front wheel -->
  <joint name="right_wheel_joint_front" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel_front"/>
    <origin xyz="${length/2-1.2*wheel_radius} ${-bred/2 - wheel_length/2} ${wheel_z}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="1000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>

  <!--  right front wheel -->
  <link name="right_wheel_front">
    <visual>
    <origin rpy = '1.570795 0 0' xyz = '0 0 0'/>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/> <!-- 100mm diameter wheel -->
      </geometry>
      <material name="grey">
      <color rgba = '0.5 0.5 0.5 1'/>
      </material> 
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin rpy = '1.570795 0 0' xyz = '0 0 0'/>
    </collision>
    <xacro:inertial_wheel/>
  </link>

  <!-- Joint Definition for left front wheel -->
  <joint name="left_wheel_joint_front" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel_front"/>
    <origin xyz="${length/2-1.2*wheel_radius} ${bred/2 + wheel_length/2} ${wheel_z}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="1000" velocity="1000"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>

  <!--  left front wheel -->
  <link name="left_wheel_front">
    <visual>
    <origin rpy = '1.570795 0 0' xyz = '0 0 0'/>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/> <!-- 100mm diameter wheel -->
      </geometry>
      <material name="grey">
      <color rgba = '0.5 0.5 0.5 1'/>
      </material> 
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
      </geometry>
      <origin rpy = '1.570795 0 0' xyz = '0 0 0'/>
    </collision>
    <xacro:inertial_wheel/>
  </link>
  <joint name="hokuyo_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.24 0 0.175" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="hokuyo"/>
  </joint>

  <link name="hokuyo">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>

    <visual>
    <geometry>
      <cylinder radius="0.05" length="0.05"/>
    </geometry>
    <material name="blue">
      <color rgba="0 0 1 1"/>
    </material>
  </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
</robot>
